/*@import url('https://fonts.cdnfonts.com/css/maria-2');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    --black: #111503FF;
    --white: #FDFDFEFF;
    --light-gray: #F8F8F9FF;
    --gray: #efeff0;
    --red-orange: #F03803FF;
    --beige: #F3E0D2FF;
    --back-color: #711010;
    --dark-blue: #232d5a;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
    background-color: var(--black);
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none; /* убирает серую подсветку при активации в некоторых браузерах */
    -webkit-appearance: none; /* убирает стили браузера в Chrome и Safari */
    -moz-appearance: none; /* убирает стили браузера в Firefox */
    appearance: none; /* убирает стили браузера для остальных */
}

a {
    text-decoration: none; /* убирает подчеркивание */
    color: var(--dark-blue);
}

.red-marked {
    color: var(--red-orange);
}

.white-page {
    position: fixed;
    min-width: 90rem;
    background-color: var(--white);
    margin-left: calc(50vw - 45rem);
}

.header {
    display: flex;
    min-height: 44.125rem;
    background: var(--white) url("../img/smiled_nerdman.png") no-repeat;
    background-position-x: 43.875rem;
}

.header__spine {
    display: block;
    margin: 10rem 6.5rem 0 2rem;
    padding: 0 0 0 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.header__text-block {
    margin-top: 2.8rem;
}

.header__title {
    font-size: 4.875rem;
    font-weight: 700;
    line-height: 5.85rem;
    margin: 6.4rem 0 0 0;
}

.header__paragraph {
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.775rem;
    max-width: 29rem;
}

.header__button {
    font-size: 1rem;
    font-weight: 500;
    background: var(--gray);
    max-width: 11rem;
    box-sizing: border-box;
    padding: 0.75rem 1.3rem 0.75rem 3rem;
    margin-top: 4.2rem;
}

.beige-stripe {
    background-color: var(--beige);
    background-size: 40rem;
    max-width: 90rem;
    color: var(--dark-blue);
}

.beige-stripe__link {
    list-style: none;
}