/*@import url('https://fonts.cdnfonts.com/css/maria-2');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

  :root {
    --black: #111503FF;
    --white: #FDFDFEFF;
    --light-gray: #F8F8F9FF;
    --gray: #efeff0;
    --red-orange: #F03803FF;
    --beige: #F3E0D2FF;
    --back-color: #711010;
    --dark-blue: #232d5a
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--black);
    }

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none; /* убирает серую подсветку при активации в некоторых браузерах */
    -webkit-appearance: none; /* убирает стили браузера в Chrome и Safari */
    -moz-appearance: none; /* убирает стили браузера в Firefox */
    appearance: none; /* убирает стили браузера для остальных */
}

a {
    text-decoration: none; /* убирает подчеркивание */
    color: var(--dark-blue);
}

.header {
    display: flex;
    min-height: 37.55rem;
    justify-content: space-between;
    background: var(--white) url("../img/smiled_nerdman.png") no-repeat;
    background-size: 40rem;
    background-position-x: 40rem;
}

.header__left ul {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0 0 3rem;
    justify-content: space-around;
    font-size: 0.75rem;
}

.header__left-spine {
    margin-top:9rem;
    list-style: none;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.header__left-text {
    justify-content: space-between;
    position: relative;
    margin: -32rem 0 0 9rem;
}
.header__left-text h1 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 5rem;
    font-size: 4.875rem;
    font-weight: 700;
}
.header__left-text p {
    margin-top: -2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    max-width: 22rem;
    line-height: 1.4rem;
}
.header__left-text span {
    color: var(--red-orange);
}
.header__left-text h2 {
    max-width: 15rem;
    text-align: right;
    padding-right: 1rem;
    line-height: 4rem;
    background: var(--gray);
    margin-top: 4rem;
}

.stripe{
    margin-top: -1rem;
    background-color: var(--beige);
    background-size: 40rem;
    max-width: 80rem;
    color: var(--dark-blue);
    }

.stripe__link {
    list-style: none;
}